body{
    background-color: rgb(170,255,170);
    border: 1px solid brown;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

/*Menu strat*/
nav {
    margin: 30px;
    font-size: x-large;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    background-color: rgb(127,170,255)
}

nav a:hover {
   color: rgb(0, 0, 0);
}
/*Menu end*/

div.Kutya { 
    background-color: white;
    color: rgb(51, 51, 51);
    padding: 5px;
    margin: 5px 5px 5px 5px;
}

img {  
    width: 50%;
    margin:0 auto;
}

nav a, div.Kutya, img {
    border: 2px solid black;
}